body{
   background-image:linear-gradient(rgba(58, 58, 158, 0.767),rgba(58, 58, 158, 0.877)), url(images/form-image.jpg);
   background-repeat:no-repeat;
   background-size:cover;
   background-position:center;
   height:100%;
   color:white;
   font-weight:800;
   font-family:'Poppins', sans-serif;
}

.fa-xmark{
   position: absolute;
   top: 7%;
   right: 4%;
   color: white;
   font-size: xx-large;
}

#form-heading{
   margin-top: 3rem;
   margin:auto;
   text-align:center;
}
 
form{
   border: 0.2rem solid darkblue;
   background-color: rgba(2,2,68,0.781);
   width:65%;
   margin:auto;
   border-radius: 0.5em;
   padding: 2%;
}

input, textarea{
   width:80%;
   border-radius:0.3em;
   font-size: 1.4rem;
   padding: 0.4rem;
   margin:auto;
   position:relative;
   border: 1px solid darkblue;
   margin: 0.9rem 10%;
}

input:focus, textarea:focus{
   box-shadow: 0 0 0.2rem 0.1rem blue;
   outline:none;
   border-color:blue;
}

button{
    cursor:pointer;
    background-color:darkblue;
    padding:0.5rem;
    width: 75%;
    position:relative;
    color:white;
    font-size:1.25rem;
    border-radius:0.25rem;
    margin: 0.9rem 12%;
}

button:hover{
    box-shadow: 0 0 0.2rem 0.1rem blue;
}

.thanks{
   height:99vh;
   width:99vw;
}

.thanks-text{
    color: white;
    position: absolute;
    top: 45%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 4rem;
}